{% extends "base.html" %}

{% load static %}
{% load l10n %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
          integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
          crossorigin="">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>
  <script src="{% static "scripts/leaflet-heat.js" %}">
  </script>
  <script src="{% static "scripts/geolib.js" %}">
  </script>
  <style>
      #map { width: 800px; height: 600px; }
      body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
      .ghbtns { position: relative; top: 4px; margin-left: 5px; }
      a { color: #0077ff; }
  </style>
{% endblock %}


{% block content %}

  {% block entity %}
  {% endblock %}

  {% block map %}
    <p>Radius</p>
    <input id="radius" type="range" value="10" min="1" max="10">
    <p>Blur</p>
    <input id="blur" type="range" value="10" min="1" max="10">
    <p>Max</p>
    <input id="max" type="range" value="20" min="1" max="50">
    <div id="map"></div>
    <script>
      {% autoescape off %}
      var map = L.map('map')
                 .setView(
                 [
                   {{ map_data.map_center.latitude | unlocalize }},
                   {{ map_data.map_center.longitude | unlocalize }}
                 ],
                 14);

      var segments = {{ map_data.route_polyline_segments }};
      var employeeAddressPointLatLngs = {{ map_data.employee_address_point_lat_lngs }};
      {% endautoescape %}

      var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      var heatmapOptions = {
          'radius': 10,
          'blur': 10,
          'max': employeeAddressPointLatLngs.length
      };
      var heat = L.heatLayer(
        [],
        heatmapOptions
      ).addTo(map);

      function enrichSegment(segment, enrichmentDistance) {
        /*
           - get direct distance between segments points
           - if shorter than enrichment distance, return segment
           - if longer than enrichment distance, return array containing segment start and end points, + intermediary points
        */
        var distance = geolib.getDistance(segment[0], segment[1]);

        if (distance <= enrichmentDistance) {
          return segment;
        }

        var bearing = geolib.getRhumbLineBearing(segment[0], segment[1]);
        var interPoints = Array(Math.floor(distance / enrichmentDistance));
        var step = distance / (interPoints.length + 1);
        for (var i = 0, len = interPoints.length; i < len; i++) {
          var p = geolib.computeDestinationPoint(segment[0], step * (i+1), bearing);
          interPoints[i] = [p.longitude, p.latitude];
        }
        return segment.concat(interPoints);
      }

      for (var i = 0, len = segments.length; i < len; i++) {
        var enrichedSegment = enrichSegment(segments[i], 5);
        enrichedSegment.map((point) => heat.addLatLng(point));
      }

      ['radius', 'blur', 'max'].forEach((option) => {
        document.getElementById(option).addEventListener('input', function() {
          var options = {};
          options[option] = parseInt(this.value);
          heat.setOptions(options);
        });
      });

      {% for marker in map_data.markers %}
        L.marker(
          [
            {{ marker.latitude | unlocalize }},
            {{ marker.longitude | unlocalize }}
          ]).addTo(map);
      {% endfor %}

      circleMarkerOptions = {
        'radius': 1,
        'color': 'red'
      };
      {% for lat_lng in map_data.employee_address_point_lat_lngs %}
        L.circleMarker(
          [
            {{ lat_lng.0 | unlocalize }},
            {{ lat_lng.1 | unlocalize }}
          ],
        circleMarkerOptions).addTo(map)
      {% endfor %}
    </script>
  {% endblock %}

  {% block distance_stats %}
    <script src="{% static "scripts/bar-chart.js" %}">
    </script>
    <p>Statistiques distances</p>
    <div style="width: 800px;">
      <canvas id="distancesBarChart">
      </canvas>
    </div>
    <script>
      var directDistances = {{ direct_distances }};
      var cyclingDistances = {{ cycling_distances }};

      function getBuckets(distanceArray, thresholdArray) {
        let bucketArray = [];
        for (let i = 0; i < thresholdArray.length; i++) {
          var bucketSize = distanceArray.filter((d) => d < thresholdArray[i]).length;
          bucketArray.push(bucketSize);
        }
        bucketSize = distanceArray.filter((d) => d > thresholdArray[thresholdArray.length - 1]).length;
        bucketArray.push(bucketSize);
        return bucketArray;
      }

      var ctx = document.getElementById('distancesBarChart').getContext('2d');
      var distancesBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["< 1 km", "1 à 5 km", "5 à 10 km", "10 à 20 km", "> 20 km"],
          datasets: [
            {
              label: 'À vol d\'oiseau',
              data: getBuckets(directDistances, [1000, 5000, 10000, 20000])
            },
            {
              label: 'À vélo',
              data: getBuckets(cyclingDistances, [1000, 5000, 10000, 20000])
            }
          ]
        }
      });
    </script>
  {% endblock %}

{% endblock %}
